@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  font-optical-sizing: auto;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f62427;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f62427;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f62427 #f1f1f1;
}